<?xml version="1.0" ?>
<robot name="odom_to_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="base_link" />

  <joint name="velodyne_joint" type="fixed">
    <parent link="base_link"/>
    <child link="velodyne"/>
    <origin rpy="0 0 0" xyz="0 0 0.1"/>
  </joint>

  <link name="velodyne" />

  <joint name="imu_joint" type="fixed">
    <parent link="velodyne"/>
    <child link="imu_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.01"/>
  </joint>

  <link name="imu_link" />

  <joint name="odom_joint" type="fixed">
    <parent link="velodyne"/>
    <child link="odom"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="odom" />

</robot>